extends layout

block body    
  div(ng-controller='EditorCtrl')
    br
    .listleft
      .doc(ng-repeat='doc in docs', ng-click='loadDoc($index)',ng-class="{selected: $index==selectedDocIndex}") {{doc.text}}
    
    .container
      .drag(ng-repeat='entity in shared_document.entities', nt-draggable) 
    
    .edit
      input(ng-model="selectedEntity.title",save-selected)

    .toolbox
      button(ng-click="addEntity()") E 
      button(ng-click="addConnection()") C
      button(ng-click="deleteEntity()") D 
    
    
  
  //script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='js/lib/jquery-1.9.1.min.js')
  //script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
  script(src="js/lib/jquery-ui.js")
  //script(src="http://jsplumbtoolkit.com/js/jquery.jsPlumb-1.5.2-min.js")
  script(src="js/lib/jquery.jsPlumb-1.5.2-min.js")
  //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular/angular-resource.js')
  
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers/editor.js')
  script(src='js/filters.js')
  script(src='js/directives.js')
  
