extends layout

block body

  div(ng-controller='EditorCtrl')
    div(nt-delete)
    br
    .listleft
      .doc(ng-repeat='doc in docs', ng-click='loadDoc($index)',ng-class="{selected: $index==selectedDocIndex}") {{doc.text}}
      input(ng-model="newDoc.text")
      button(ng-click="addDoc()") +
    .container
      .drag(ng-repeat='entity in shared_document.entities', nt-draggable)

    .edit

      p Entity
      p label:
      input(ng-model="selectedEntity.title",save-selected)
      br
      p Entity id:
      input(ng-model="selectedEntity._id",readonly)
      br
      p document id:
      input(ng-model="selectedEntity.document",readonly)
      br
      p Connection
      p From:
      input(ng-model="selectedConnection.from",readonly)
      p To:
      input(ng-model="selectedConnection.to",readonly)
      p label:
      input(ng-model="selectedConnection.label", save-selected-con)

    div.hashholder(ng-class="{inactive: inactive != false }")
        p {{conflict}}
        p(ng-repeat='hash in documentHash|reverse',style='color:#{{hash|uppercase}}') {{hash|uppercase}}
    .toolbox

      button(ng-click="addEntity()") E
      button(ng-click="addConnection()") C
      button(ng-click="deleteEntity()") D
      input(ng-model="message")
      button(ng-click="sendChat()") Send
    .clr
    #templateholder
      textarea(ng-model="shared_document.template",save-selected-tmp)
      textarea#result(ng-model="compile_result",readonly)
      button(ng-click="compile()") Compile
      div node mintrepl {{shared_document._id}}

  //script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='js/lib/jquery-1.9.1.min.js')
  //script(src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
  script(src="js/lib/jquery-ui.js")
  //script(src="http://jsplumbtoolkit.com/js/jquery.jsPlumb-1.5.2-min.js")
  script(src="js/lib/jquery.jsPlumb-1.5.2-min.js")
  //script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
  script(src='js/lib/angular/angular.min.js')
  script(src='js/lib/angular/angular-resource.js')
  script(src='/socket.io/socket.io.js')
  script(src='js/app.js')
  script(src='js/services.js')
  //script(src="http://www.webtoolkit.info/djs/webtoolkit.md5.js")
  script(src="js/lib/webtoolkit.md5.js")

  script(src='js/controllers/editor.js')
  script(src='js/filters.js')
  script(src='js/directives.js')

