!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Editor
    link(rel='stylesheet', href='/css/app.css')
  body
   block header
     a(href="/editor") Editor 
     &#58;&#58;
     a(href="/playground") Playground 
     &#58;&#58;
     a(href="/") Main 
   block body