!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Editor
    link(rel='stylesheet', href='/css/app.css')
  body
   block header
    .header
     a(href="/") Main 
     &nbsp;&nbsp;&nbsp;
     a(href="/playground") ApiPlayground 
     &nbsp;&nbsp;&nbsp;
     a(href="/editor") Editor 
   block body