/* app css stylesheet */
input {
  background-color:transparent;
  border: 1px solid #DCF2E3;
  color:#CCC;
}
button {
  border-style:none;
  background-color: #DCF2E3;
}

.header {
  margin-left: 10%;
}
.overflowable {
  height: 240px;
  overflow-y: auto;
  border: 1px solid #000;
}

.overflowable p {
  margin: 0;
}
a {
  text-decoration:none;
}
.col {
  float: left;
  width: 350px;
}

.clr {
  clear: both;
}

.draggable { 
	width: 50px; height: 50px; padding: 0.5em; background-color: #AAAA77;    
            position: absolute;
    z-index:2;
}
.draggable.selected1 {
  border-color: #FFAA77;
  border-style:solid;
  border-width:2px;
}
.draggable.selected2 {
  border-color: #DDAA77;
  border-style:solid;
  border-width:2px;
}
.entity_title{
    border-style:solid;
    border-width:1px;
    border-color: #DDAA77;
}
.listleft {
  width: 10%;float:left;
}
.container {
	width: 70%; height: 600px; background-color: #DCF2E3;
  float: left;
    z-index:1;
}

.edit {
  padding-left: 10px;
  width: 19%;
  float: right;
}
.editinside{
  margin-left: 20px;
}
.toolbox {
  margin-left: 10%;
  clear: both;
  float: left;
}

.selected {
  background-color: #DCF2E3; 
}

.hover {
    background-color: #cfcf92;
}

._jsPlumb_endpoint{
 z-index: 100;
}
._jsPlumb_connector{
    z-index: 100;
}

._jsPlumb_overlay{
    z-index: 110;
}

#templateholder textarea{
    width: 580px;
    height:400px;
}